<!-- SECCION SOBRE MI -->
<app-header></app-header>
    <section id="sobremi">
      <div class="contenedor-foto">
        <img src="assets/images/foto.jpg" alt="" />
      </div>
      <div class="sobremi">
        <p class="titulo-seccion">Sobre Mi</p>
        <h2>Hola, soy <span>Santiago Perez</span></h2>
        <h3>Tecnólogo en análisis y desarrollo de sistemas de información</h3>
        <p>
          Me apasiona el mundo de la tecnología y toda el area del
          desarrollo de software, soy una persona autodidacta que le gusta
          estar en constante aprendizaje, con ganas de seguir avanzando en
          la programación y aprender tecnologias que me ayuden a crear
          mejores soluciones de acuerdo a los requerimientos que se
          soliciten.
        </p>
        <p>
          Creé este portafolio para poder practicar mis conocimientos y
          habilidades e ir actualizandolo con nuevas funcionalidades, para
          dar a conocer las habilidades y experiencias que vaya aprendiendo
          en el camino.
        </p>
        <a href="https://www.linkedin.com/in/TheSanty97/">Descarga CV</a>
      </div>
    </section>
