<!-- SECCION CONTACTO -->
<app-header></app-header>
    <div id="contacto">
      <h3 class="titulo-seccion">Contactame ahora</h3>
      <div class="contenedor-form">
        <form action="">
          <div class="fila mitad">
            <input
              type="text"
              placeholder="Nombre Completo"
              class="input-mitad"
            />
            <input
              type="text"
              placeholder="Correo Electronico"
              class="input-mitad"
            />
          </div>
          <div class="fila">
            <input type="text" placeholder="Tema..." class="input-full" />
          </div>
          <div class="fila">
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Tu Mensaje..."
              class="input-full"
            ></textarea>
          </div>
          <input type="button" value="Enviar Mensaje" class="btn-enviar" />
        </form>
      </div>
    </div>
<!-- SECCION ICONOS DE CONTACTO -->
    <section id="contact">
      <div class="container">
        <div class="contact-row">
          <div class="contact-row-icon">
            <img src="/img/icon-address.png" alt="" />
            <p>Medellín, Colombia</p>
          </div>
          <div class="contact-row-icon">
            <img src="/img/icon-mail.png" alt="" />
            <p>perezsantiago150@gmail.com</p>
          </div>
          <div class="contact-row-icon">
            <img src="/img/icon-phone.png" alt="" />
            <p>000-000-0000</p>
          </div>
        </div>
      </div>
    </section>
