<!-- SECCION PORTAFOLIO -->
<app-header></app-header>
    <section id="portafolio">
      <h3 class="titulo-seccion">MIS PROYECTOS</h3>
      <div class="fila">
        <div class="proyecto">
          <div class="overlay"></div>
          <img src="assets/images/ram.jpg" alt="" />
          <div class="info">
            <h4>API REST</h4>
            <a href="api">VER</a>
            <p>Consumo de API Rest</p>
          </div>
        </div>
        <div class="proyecto">
          <div class="overlay"></div>
          <img src="assets/images/ram.jpg" alt="" />
          <div class="info">
            <h4>Descripción del Proyecto</h4>
            <p>Diseño Web</p>
          </div>
        </div>
        <div class="proyecto">
          <div class="overlay"></div>
          <img src="assets/images/ram.jpg" alt="" />
          <div class="info">
            <h4>Descripción del Proyecto</h4>
            <p>APIs Web</p>
          </div>
        </div>
      </div>
    </section>
