<!-- SECCION SERVICIOS -->
<app-header></app-header>
<section id="servicios">
  <h3 class="titulo-seccion">MIS SERVICIOS</h3>
  <div class="fila">
    <div class="servicio">
      <span class="icono"><i class="fa-solid fa-code"></i></span>
      <h4>Diseño de sitios Web</h4>
        <hr />
        <ul class="servicios-tag">
          <li>Web</li>
        </ul>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore
          accusantium animi nihil necessitatibus totam repudiandae velit optio
          impedit libero nemo. Veniam ipsa tempore nulla est modi adipisci ab,
          accusamus quaerat!
        </p>
    </div>
  </div>
  <div class="fila">
    <div class="servicio">
      <span class="icono"><i class="fa-solid fa-code"></i></span>
      <h4>Diseño de sitios Web</h4>
      <hr />
      <ul class="servicios-tag">
        <li>Web</li>
      </ul>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore
        accusantium animi nihil necessitatibus totam repudiandae velit optio
        impedit libero nemo. Veniam ipsa tempore nulla est modi adipisci ab,
        accusamus quaerat!
      </p>
    </div>
  </div>
</section>
