<!-- SECCION HABILIDADES -->
    <div class="contenedor-skills" id="skills">
      <h3>HABILIDADES</h3>
      <div class="skill">
        <div class="info">
          <p><span class="lista"></span>HTML & CSS</p>
          <span class="porcentaje">60%</span>
        </div>
        <div class="barra">
          <div id="html" class="barra-progreso1"></div>
        </div>
      </div>

      <div class="skill">
        <div class="info">
          <p><span class="lista"></span>JAVASCRIPT</p>
          <span class="porcentaje">60%</span>
        </div>
        <div class="barra">
          <div id="js" class="barra-progreso2"></div>
        </div>
      </div>

      <div class="skill">
        <div class="info">
          <p><span class="lista"></span>BASES DE DATOS</p>
          <span class="porcentaje">70%</span>
        </div>
        <div class="barra">
          <div id="bd" class="barra-progreso3"></div>
        </div>
      </div>

      <div class="skill">
        <div class="info">
          <p><span class="lista"></span>C#</p>
          <span class="porcentaje">60%</span>
        </div>
        <div class="barra">
          <div id="c#" class="barra-progreso4"></div>
        </div>
      </div>
    </div>
