<body>
    <!-- SECCION INICIO -->
  <section id="inicio">
    <div class="contenido">
        <div class="presentacion">
          <p class="bienvenida">Bienvenidos</p>
          <h2>
            Soy <span>Santiago Pérez</span>, Tecnólogo en análisis y desarrollo
            de sistemas de información.
          </h2>
          <p class="descripcion">
            Cuento con experiencia como analista de soporte, brindando soporte
            de aplicaciones web y de escritorio, experiencia empirica en
            desarrollo de aplicaciones de escritorio con C# y Windows Forms, asi
            como tambien desarrollo de aplicaciones Web con ASP.Net y HTML, CSS
            y JavaScript y amplios conocimientos en SQL para gestión de bases de
            datos.
          </p>
          <a href="proyectos">Ir al portafolio</a>
        </div>
      </div>
    </section>
<app-header></app-header>
<app-sobremi></app-sobremi>
<app-servicios></app-servicios>
<app-habilidades></app-habilidades>
<app-proyectos></app-proyectos>
<app-contacto></app-contacto>
<app-footer></app-footer>
</body>
